:root {
  --orange: #ffd588;
  --black: #231f20;
  --mainDarkColor: #a5ba9b;
  --mainLightColor: ;
  --grey: #6b6b6b;
  --mainColor: #a5ba9b;
  --mainFont: 'Austin';

  --smooth: all 0.45s cubic-bezier(0.4, 0, 0, 1);
}

@font-face {
  font-family: 'Austin';
  src: url('fonts/Austin-Light.eot');
  src: url('fonts/Austin-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Austin-Light.woff2') format('woff2'), url('fonts/Austin-Light.woff') format('woff'),
    url('fonts/Austin-Light.ttf') format('truetype'),
    url('fonts/Austin-Light.svg#Austin-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Austin';
  src: url('fonts/Austin-LightItalic.eot');
  src: url('fonts/Austin-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Austin-LightItalic.woff2') format('woff2'),
    url('fonts/Austin-LightItalic.woff') format('woff'),
    url('fonts/Austin-LightItalic.ttf') format('truetype'),
    url('fonts/Austin-LightItalic.svg#Austin-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MessinaSansWeb';
  src: url('fonts/MessinaSansWeb-Regular.woff2') format('woff2'),
    url('fonts/MessinaSansWeb-Regular.woff') format('woff'),
    url('fonts/MessinaSansWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MessinaSansWeb';
  src: url('fonts/MessinaSansWeb-Bold.woff2') format('woff2'),
    url('fonts/MessinaSansWeb-Bold.woff') format('woff'),
    url('fonts/MessinaSansWeb-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

p {
  font-size: 1rem;
}

.main-font {
  font-family: var(--mainFont);
}
.bg-main-color {
  background-color: var(--mainColor);
}

.main-color {
  color: var(--mainColor);
}

.bg-color-orange {
  background-color: var(--orange);
}

.bg-color-container {
  z-index: -2;
  width: 100vw;
  height: 100vh;
}

.bg-color-ball {
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  /* transition: all 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19); */
  transform: translateY(100%);
  bottom: 0%;
  left: 0%;
  position: absolute;
}

.bg-color-ball.active {
  transform: translateY(0%);
}

.main-cta.white-border {
  border-width: 2px;
}

.ugo-border {
  border: 2px solid var(--darkPink);
}

.main-cta {
  padding: 15px 28px;
}

.grey {
  color: var(--grey);
}

div.main-font * {
  font-family: var(--mainFont);
  font-weight: 400;
}

.featured-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.smooth-t {
  transition: var(--smooth);
}

/* Header & Footer Desktop */

header {
  transition: background-color 0.3s ease;
  z-index: 90;
}

.header-social a:first-child {
  margin-left: 0;
}

.header-social svg {
  margin: auto;
}

.header-social a:hover svg path {
  transition: all 0.3s ease;
}

.header-social a:hover svg path {
  fill: var(--mainColor);
}

.header-social a:last-child {
  margin-right: 0;
}

.right-header,
.left-header {
  width: 25%;
}

.left-header > nav > ul {
  margin-right: auto;
  margin-left: 0;
}

.left-header > nav li:first-child {
  margin-left: 0;
}

header.scrolled {
  /* background-color: #f3dcd6d5; */
  /* border-bottom: 1px solid var(--darkPink);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
  border-bottom: 1px solid black;
}

header.scrolled p,
header.scrolled a p {
  /* color: var(--darkPink) !important; */
}

header.scrolled a p::after {
  background-color: #fff !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

header.scrolled svg path {
  /* fill: var(--darkPink); */
}

.footer-links a {
  font-family: var(--mainFont);
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}

/* Insta Desktop */

.instagram-feed-container a,
.hashtag-feed a {
  text-decoration: none;
  width: max-content;
}

#insta-name {
  width: 100%;
}

.insta-footer-icon {
  width: 30px;
}

.instagram-feed-container > a:last-child::after
/* ,.hashtag-feed > a:last-child::after  */ {
  position: absolute;
  top: 70%;
  left: -5%;
  width: 110%;
  height: 50%;
  content: '';
  background-color: #f7cdd3;
  z-index: -1;
  transition: all 0.3s ease;
}

.instagram-feed-container > a:last-child:hover:after
/* ,
.hashtag-feed > a:last-child:hover::after  */ {
  top: 60%;
  left: -20%;
  width: 140%;
  height: 60%;
  background-color: #ffebee;
}

.instagram-feed-container > a:last-child:hover,
.hashtag-feed > a:last-child:hover {
  color: #78bacc;
}

.instagram-feed > div {
  width: 19.5%;
}

.instagram-feed div a,
.hashtag-feed a {
  /* margin: 10px; */
  width: auto;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.instagram-feed a:after {
  position: absolute;
  content: '';
  background-image: url('/wp-content/uploads/2020/02/insta-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.instagram-feed a:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.471);
  transition: all 0.3s ease;
}

.instagram-feed a:before,
.instagram-feed a:after {
  opacity: 0;
}

.instagram-feed a:hover::before,
.instagram-feed a:hover::after {
  opacity: 1;
}

.instagram-feed a > div {
  transition: all 0.3s ease;
}

.instagram-feed a:hover > div {
  transform: scale(1.05);
}

.ig-aob img {
  height: 10px !important;
}

.ig-aob p {
  color: #ccc;
}

/* Menu Desktop */

.menu-trigger span {
  width: 16px;
  height: 2px;
  margin-bottom: 3px;
  background-color: black;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-trigger {
  width: 28px;
}

.menu-trigger:hover span {
  background-color: var(--mainColor);
}

.menu-trigger:hover span:nth-child(2) {
  width: 28px;
  transform: translateX(-5px);
}

.menu-trigger span:nth-child(2) {
  width: 22px;
  transform: translateX(-3px);
}

.menu-trigger span:last-child {
  margin-bottom: 0;
}

.menu-container,
.menu-container .bg-main-color {
  z-index: 99;
}

.menu-container .bg-main-color {
  transform: scaleX(0);
  transform-origin: left;
}

.side-menu {
  z-index: 100;
}

ul.menu-nav > li {
  margin-bottom: 20px;
  overflow: hidden;
  transform: translateY(40px);
}

ul.menu-nav li a {
  font-family: var(--mainFont);
  font-size: 62px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transform: translateY(100%);
}

.menu-item-has-children {
  position: relative;
}

.side-menu .sub-menu {
  display: none;
}

.menu-item-has-children .sub-menu {
  padding: 10px;
  background-color: #fff;
  /* border-radius: 8px; */
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-item-has-children:not(.slide-sub-menu) .sub-menu {
  margin-top: 0px;
}

.menu-item-has-children:hover .sub-menu {
  opacity: 1;
}

.sub-menu {
  position: absolute;
  left: 0%;
  top: 41px;
  padding-top: 10px;
  z-index: 101;
  opacity: 0;
  list-style-type: none;
  list-style: none;
}

.sub-menu li {
  margin-bottom: 10px;
}

.side-menu li:hover .sub-menu,
.side-menu li:hover > a {
  opacity: 1;
}

.sub-menu li a {
  transform: translateY(0) !important;
  transition: opacity 0.3s ease;
  /* font-size: 24px !important; */
}

.sub-menu a {
  font-size: 0.875em !important;
}

/* Newsletter Subscribe */

.newsletter-container {
  background-color: var(--orange);
  padding: 4rem;
}

.newsletter-container.form-w-100 .form-container,
.newsletter-container.form-w-100 h1 {
  width: 100%;
}

.form-container {
  border: 2px solid black;
}

.white-form .form-container {
  border-color: #fff;
}

.white-form svg path {
  fill: #fff;
}

.white-form .form-container input::placeholder {
  color: #fff;
}

.white-form .subscribe-form-button {
  background-image: url(/wp-content/uploads/2021/07/Group-6.svg) !important;
}

.j-around .form-container form {
  justify-content: space-around;
}

.no-caption p:last-child {
  display: none;
}

.form-container form > div:last-child {
  height: 21px;
}

#main:not(.no-mt) {
  margin-top: 64px;
}

#main.goe-mt {
  margin-top: 64px;
}

#main.no-mt > section:first-child > div:first-child {
  padding-top: 120px;
}

#main.no-mt.home > section:first-child > div:first-child {
  padding-top: 0px;
}

#main.totm > section:first-child > div:first-child {
  padding-top: 180px;
}

/* Home Desktop */

.slide-text {
  pointer-events: none;
}

.slide:first-child .s-bg-color,
.slide:first-child .slide-text,
.slide:first-child .s-bg-img,
.slide:first-child .slide-img {
  /* opacity: 1; */
  pointer-events: none;
}

/* Set Up Intro Slide */

.slide:first-child .s-bg-color {
  width: 0%;
  opacity: 1;
}

:root {
  --duration: 1s;
}

.s-bg-color.is-open {
  transition: width var(--duration) cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
  width: 100% !important;
}

.s-bg-img > div.is-open {
  clip-path: inset(0) !important;
  transition: clip-path var(--duration) cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
}

.s-bg-color {
  transition: width 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide:first-child .s-bg-img > div {
  clip-path: inset(0px 0px 0px 100%);
  opacity: 1;
}

.s-bg-img > div {
  transition: clip-path 0.7s ease;
}

.slide:first-child .slide .s-bg-img > div {
  opacity: 1;
}

.s-bg-img > div {
  clip-path: inset(0px 0px 0px 100%);
}

.slide .s-bg-color,
.slide .slide-text,
.slide .slide-img {
  opacity: 0;
}

.slide-img {
  right: 0%;
  top: 50%;
  transform: translate(-36%, -50%);
}

.slide-img img {
  width: 500px !important;
}

.slider-controller {
  bottom: 15%;
}

.slider-controller span {
  border-bottom: 3px solid rgba(0, 0, 0, 0.397);
  height: 2px;
  width: 130px;
  display: block;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.slider-controller span span {
  position: absolute;
  width: 0;
  height: 4px;
  margin-bottom: 3px;
  transform: translateY(-0.5px);
  /* transition: width 0.3s ease; */
  background-color: #000;
  content: '';
  margin-top: 2rem;
  opacity: 1;
}

.slider-controller span:hover span {
  width: 100%;
  transition: width 0.3s ease;
}

.slider-controller span.active,
.slider-controller span:hover {
  /* opacity: 1; */
}

.slider-controller span.not-active {
  width: 0% !important;
}

/* Search COntainer Desktop */

.search-menu-bar {
  transform: translateY(-100%);
}

.home-search {
  border: 2px solid white;
  justify-content: space-between;
  background-color: none;
}

.home-search select {
  padding: 25px;
}

.home-search input {
  background-color: unset;
  border: none;
  outline: none;
  color: white;
}

.home-search input::placeholder {
  color: white;
  opacity: 0.5;
}

.home-search input[type='submit'] {
  background-color: white;
  color: var(--mainColor);
}

a.post-container {
  width: 30%;
}

.post-container:first-child article {
  margin-left: 0px !important;
}

.post-img {
  height: 300px;
  width: 100%;
}

.post-grid-scroll-container a {
  width: 300px !important;
}

.post-grid-scroll-container a:first-child {
  margin-left: 0;
}
/* Cat Desktop */

#cat-name {
  transform: translateY(50%);
  position: relative;
  z-index: 2;
  background: linear-gradient(180deg, #ffffff 53.75%, rgba(255, 255, 255, 0) 100%);
}

.featured-cat-content {
  left: 50%;
  transform: translate(-50%, 50%);
}

.featured-cat-cover {
  height: 60vh;
}

/* About Desktop */
.mission h1 {
  border-bottom: 1px solid #000;
}

.mission span {
  flex-grow: 1;
  border-bottom: 1px solid #000;
  height: 1px;
}

/* Lifestlye Desktop */

.lifestyle-cat {
  width: 25vw;
  height: 30vh;
}

.lifestyle-cover h1 {
  font-size: 250px;
  color: #c4c4c4;
}

.lifestyle-cover h1.small-font {
  font-size: 180px;
}

/* FAQ */

.featured-faq {
  max-width: 30%;
}

.featured-faq p {
  font-size: 14px;
}

/* Community Desktop */

.community-cta {
  transform: translate(2%, -5%);
}

.community-cta > div:last-child {
  transform: translateX(-10%);
}

.anchor {
  cursor: pointer;
}

.goe-sticky {
  top: 64px;
}

/* Page Desktop Generals */

.f0 {
  font-size: 82px;
}

.f00 {
  font-size: 140px;
}

.page-description p {
  font-size: 18px;
  line-height: 1.5;
}

.page-title-small {
  letter-spacing: 0.38em;
  font-weight: 300;
  font-size: 13px;
}

/* Learn */

/* Recommended Articles Desktop */

.recommended-filters h2 {
  border: 1px solid var(--grey);
  padding: 10px 20px;
  margin-right: 20px;
  position: relative;
  color: var(--grey);
  transition: all 0.45s cubic-bezier(0.4, 0, 0, 1);
}

.recommended-filters h2::after {
  position: absolute;
  z-index: -1;
  background-color: var(--mainColor);
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  content: '';
  top: 0;
  left: 0;
  transition: all 0.45s cubic-bezier(0.4, 0, 0, 1);
}

.recommended-filters h2:hover::after {
  transform: scaleX(1);
}

.recommended-filters h2:hover {
  color: white;
  border: 1px solid var(--mainColor);
}

.verified-icon p {
  transform: translateY(160%);
  transition: var(--smooth);
}

.verified-icon:hover p {
  transform: translateY(-10%);
}

.recommended-articles ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding: 40px 0px;
}

.recommended-content li {
  width: 45%;
  padding: 20px;

  border: 1px solid var(--mainColor);
  border-radius: 2px;

  /* margin-bottom: 30px; */
  /* box-shadow: 1px 3px 6px #0000001e; */
  -webkit-transition: var(--smooth);
  -moz-transition: var(--smooth);
  transition: var(--smooth);
  color: #808080;
  line-height: 1.6;
  height: -moz-min-content;
  height: min-content;
  -webkit-appearance: none;
  margin-bottom: 5%;
  background-color: #fff;
  opacity: 0;
  transform: translateY(20px);
  cursor: pointer;
}

.recommended-content li.in-view {
  opacity: 1;
  transform: translateY(0px);
}

.recommended-content li:hover {
  color: white;
  background-color: var(--mainColor);
}

.recommended-content li a {
  color: var(--mainColor);
  text-decoration: none;
  transition: var(--smooth);
}

.recommended-content li:hover a {
  color: white;
}

/* How to videos */

.featured-video-5-container {
  border-bottom: 2px solid var(--darkpink);
}

.featured-template-5-video {
  height: 450px;
  width: 100%;
}

.template-5-videos > div {
  height: 300px;
  width: 30%;
}

/* Template Content Desktop */

.learn-kickoff h1 span {
  /* color: var(--mainColor); */
}

.learn-kickoff h1 span:first-child {
  color: #ffd588;
}

.learn-cats > a:first-child .absolute-cover.bg-color {
  /* background-color: #ffd588; */
}

.learn-kickoff h1 span:nth-child(2) {
  color: #faa2a2;
}

.learn-kickoff h1 span:nth-child(3) {
  color: #a5ba9b;
}

.learn-cats > a,
.learn-cats > a > div {
  height: 65vh;
}

.learn-cats .absolute-cover.bg-color {
  opacity: 0.8;
  z-index: 1;
  transition: all 0.3s ease;
}

.cover-cat:hover h2 {
  color: #fff;
}

.cover-cat:hover .bg-color {
  opacity: 0;
}

.learn-cats * {
  text-decoration: none;
  color: black;
}

/* Recipes */

.recipe-main-holder > a {
  height: 30vh;
  background-color: var(--mainColor);
}

.recipe-main-holder > h1 {
  margin: auto;
}

.marco-carrousel > div:first-child {
  transition: left 0.3s ease;
  left: -87vw;
}

.carrousel-image {
  width: 85vw;
  height: 50vh;
  border-radius: 2px;
}

.search-box-container select,
.sub-list-select {
  border: 2px solid black;
  /* -webkit-appearance: none; */
  outline: 0;
  border-radius: 0px;
  position: relative;

  background-color: #fff;
}

.search-box-container select::after {
  position: absolute;
  content: 'p';
}

.search-box-container form,
.search-min-container {
  border: 2px solid var(--mainColor);
  justify-content: space-between;
  /* padding: 25px; */
}

.search-text,
.search-box-container select,
.sub-list-select {
  padding: 25px;
}

.sub-list-select {
  font-family: var(--mainFont);
  font-size: 1.5em;
  text-transform: uppercase;
}

.search-box-container input {
  appearance: none;
  border: 0px;
  outline: 0px;
}

.search-min-container input[type='submit'] {
  -webkit-appearance: none;
  background-color: unset !important;
  border: 0px;
  border-radius: 0px;
  outline: none;
  background-image: url('/wp-content/uploads/2021/08/Group-5.svg');
  background-position: center center;
  background-size: 60%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-min-container input[type='text'] {
  border: 0px;
  outline: none;
}

.recipe-hover {
  opacity: 0;
  max-height: none;
}

.new-recipe:hover .recipe-hover {
  opacity: 1;
  max-height: max-content;
}

.new-recipe:hover div.absolute-cover:first-child {
  transform: scale(1.04);
  /* transition-duration: 1s; */
}

.recipe-hover span {
  height: 0px;
  width: 2px;
  margin: auto;
  background-color: #fff;
}

.new-recipe:hover span {
  height: 30px;
}
/* Recipes Single Desktop */

#main.recipe {
  background-color: #f8f7f3;
}

.recipe-index {
  border: 1px solid black;
}

.ideal-for {
  border: 1px solid black;
}

.ideal-for > div:not(:first-child) {
  border-left: 1px solid black;
}

.ideal-for img {
  max-height: 80px;
}

.recipe-content div h1 {
  margin: 40px auto;
  padding: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.recipe-content .mission {
  margin-top: 30px;
}

.recipe-content div.mission h1,
.recipe-content div.recipe-index h1 {
  border-top: 0px;
  margin: 0px auto;
  padding: 0px;
  margin-right: 20px;
}
.recipe-content div.recipe-index h1 {
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 0px;
}

.recipe-content p {
  line-height: 1.68;
  font-size: 18px;
  letter-spacing: -0.3;
}

.recipe-content ul {
  column-count: 2;
  column-gap: 40px;
  margin-bottom: 30px;
  margin-top: 5px;
  list-style-position: outside;
  /* list-style-type: none; */
  padding-left: 20px;
}

@media (max-width: 580px) {
  .recipe-content ul {
    column-count: 1;
  }
}

/* .recipe-content ul li:first-child {} */

.recipe-content ul li {
  position: relative;
  margin-bottom: 10px;
}

.recipe-content ul li:before {
  /* content: '\02022'; */
  margin-right: 8px;
  font-size: 1.5rem;
  margin-top: 2px;
}

.print-button {
  border: 0px;
  outline: 0px;
}

.print-button:not(.top):hover h2 {
  color: #fff;
}

.print-button:not(.top):hover svg path {
  stroke: #fff;
}

.print-button.top {
  background-color: unset;
  padding: 0;
  margin-top: 0;
}
/* Post Cover Sticky */

.post-category-cover {
  height: 100vh;
}

.post-content.categorized a.post-container,
.recipes-archive-container a.post-container {
  width: 45%;
}

.post-content.categorized a.post-container:nth-child(odd) article,
.recipes-archive-container a.post-container:nth-child(odd) article {
  margin-left: 0;
}

.post-content.categorized a.post-container:first-child,
.post-content.categorized a.post-container:nth-child(2) {
  margin-top: 0;
}

.post-content-cover * {
  color: white;
}

/* Single Cat Recipe Page */

.sub-categories-list a {
  text-transform: uppercase;
  font-family: var(--mainFont);
  font-size: 1.5em;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* Grid  */
.grid-container div:nth-child(even) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

@media (max-width: 1280px) {
  /* Home Mid Screen */

  .transformation-home .f0 {
    font-size: 50px;
  }
  .transformation-home .f00 {
    font-size: 100px;
  }

  .transformation-home > div:last-child {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .left-header {
    display: none;
  }

  .right-header {
    width: 30%;
  }
}

@media (max-width: 960px) {
  .right-header {
    width: unset;
  }

  .header-social {
    display: none;
  }

  .menu-trigger {
    margin-left: 25px;
  }

  .transformation-home .f0 {
    font-size: 30px;
  }
  .transformation-home .f00 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  /* Footer Tablet */

  footer section:last-child {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-first-row {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .footer-first-row > div {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer-first-row > div:last-child {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footer-links nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-starter > div:first-child {
    width: unset;
  }

  .home-starter > div:last-child {
    background-position: center;
  }

  .landing-footer-ilust:first-child {
    display: none;
  }

  .landing-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-footer-ilust {
    margin-top: 30px;
  }

  .landing-footer-ilust svg {
    width: 65vw;
  }

  .bloques-home > div.container {
    padding: 0 40px;
    padding-left: 25px;
  }

  .bloques-home > div:first-child > div {
    transition-delay: 0.65s !important;
  }

  .marco-gallery > div {
    margin-top: 0px !important;
    height: 45vh !important;
  }

  .marco-gallery > div img {
    margin: 0 10px;
  }

  .bloques-home > div > div {
    opacity: 1;
    transform: translateY(0);
  }

  .home-starter {
    padding-bottom: 10vh;
  }
}

@media (max-width: 580px) {
  /* Header Mobile */

  #main:not(.no-mt) {
    margin-top: 51px;
  }

  header.site-header {
    padding: 10px 20px;
  }
  .svg-logo {
    width: 220px;
  }

  .search-trigger p {
    display: none;
  }

  .side-menu {
    padding: 30px 20px;
  }

  .title-holder {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .title-holder > :first-child {
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  /* Menu Mobile */

  /* Footer Mobile */

  .gram-text,
  .gram-text-container h2 {
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }

  .footer-links nav {
    margin: auto;
  }

  .footer-aob > div {
  }

  /* Home Mobile */

  .slide {
    padding: 0px !important;
  }

  .slide-text {
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .slide-text a {
    margin-left: auto;
    margin-right: auto;
  }

  .slide-img {
    /* transform: translateX(-130%); */
    left: 50%;
    right: unset;
  }

  .slide-img img {
    width: 300px !important;
    transform: scale(1.3);
  }

  .slide-bg .w-70-ns {
    height: 60%;
  }

  .slide-bg .w-30-ns {
    height: 35%;
  }

  .slider-controller {
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
  }

  .slider-controller span {
    width: 20vw;
  }

  .slider-controller span:last-child {
    margin-right: 0px;
  }

  .transformation-home .f0,
  main.about .f0,
  .transformation-home .f00,
  main.about .f00 {
    font-size: 42px;
  }

  .transformation-home > div:last-child {
    justify-content: center;
    align-items: center;
  }

  .transformation-home a {
    width: max-content;
  }

  .home-search input.f3 {
    font-size: 16px;
  }

  input.f3.button {
    font-size: 32px;
  }

  .text-centered-img {
    position: relative;
    transform: unset;
    top: 0;
    left: 0;
  }

  .text-centered-img h1 {
    font-size: 1.5rem;
    line-height: 1.8;
  }

  .testimonial {
    width: 70vw;
  }

  /* Recipes Mobile */

  .recipe-select {
    margin-bottom: 10px;
  }

  .post-category-cover {
    height: 30vh;
  }

  .post-content.categorized a.post-container,
  .recipes-archive-container a.post-container {
    width: 100%;
  }

  .post-content.categorized .post-container {
    margin-right: 0;
    padding: 20px;
  }

  .post-grid-container.column-mobile a {
    width: 100%;
    margin-right: 0;
    padding: 20px;
  }

  a.post-container {
    margin-right: 0;
  }

  .post-grid-scroll-container a {
    margin-right: 20px;
  }

  /* Single Recipe Mobile */

  main.recipe > h1:first-child {
    padding: 50px 0px;
  }

  .featured-text {
    padding-top: 40px;
  }

  .featured-text h3 {
    font-size: 1.25rem;
  }

  .recipe-content.mission {
    position: sticky;
    top: 51px;
    background-color: #f8f7f3;
    padding: 20px 0px;
    z-index: 9;
  }

  .recipe-aob {
    margin-top: 40px;
  }

  .recipe-aob > div {
    margin-bottom: 20px;
  }

  .recipe-aob svg {
    width: 40px;
  }

  .recipe-content div h1,
  .wp-block-media-text .wp-block-media-text__content {
    padding: 20px 0px;
  }

  .ideal-for-container {
    border-bottom: 1px solid #000;
  }

  .ideal-for > div:not(:first-child) {
    border-left: 0px;
  }

  #comments {
    padding: 20px !important;
  }

  /* Learn Mobile */

  .learn-cats > div,
  .learn-cats > div > div {
    height: 35vh;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .cover-cat > div:first-child {
    justify-content: center;
  }

  /*How to mobile*  */

  .template-5-videos > div {
    width: 100%;
  }

  /* Newsletter mobile */

  .newsletter-container {
    padding: 40px 20px;
  }

  /* About Mobile */

  main.about .header-title-center,
  #main.no-mt > section:first-child > div:first-child {
    padding: 120px 20px 30px;
  }

  .comm-footer {
    border-top: 0px solid #000 !important;
    border-bottom: 0px solid #000 !important;
  }
  .comm-footer > div,
  .comm-footer a {
    margin: 0;
    border-bottom: 1px solid #000;
  }

  .comm-footer > div:last-child,
  .comm-footer a:last-child {
    border-bottom: 0px solid #000;
  }

  .grid-container div:nth-child(even) {
    border-left: 0px solid #000;
    border-right: 0px solid #000;
  }

  .about-content {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  /* TOTM */

  .totm-archives {
    padding: 40px 20px;
  }

  /* Community Mobile */

  .community-cta > div:last-child,
  .community-cta {
    transform: translateX(0%);
  }

  .recipes-archive-container {
    margin-top: 100px;
  }

  .recipes-archive-container h1 {
    font-size: 3rem;
  }

  .recipes-archive-content {
    margin-top: 40px;
  }

  /* FAQ Mobile */

  .featured-faq {
    max-width: 100%;
    margin-bottom: 30px;
  }

  /* .faq-filter.sticky {
    overflow: visible;
  } */

  .filters-scroll h2:last-child {
    margin-right: 0;
  }

  .faq-answer p {
    line-height: 1.2;
  }
}

@media print {
  .hidden-print,
  .no-print,
  img,
  .wp-block-media-text,
  #comments,
  .ideal-for,
  .ideal-for-container {
    display: none !important;
  }

  .ideal-for img {
    display: block !important;
  }

  .container-xl,
  .container,
  .container-xs {
    padding-left: 120px;
    padding-right: 120px;
  }

  figure {
  }

  h1.f0 {
    font-size: 48px;
    text-align: left;
    max-width: 60;
    margin: auto;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 10px;
  }
}
